<div class="d-flex justify-content-center mt-3">
<div class="card mb-3 "style="max-width:70em;" id="card">
    <div class="row no-gutters">
    <div class="col-md-8 text-center">
        <div class="card-body">
          <h3 class="pokemonname">{{dataPokemon.nombre | uppercase}} <span class="text-center">{{dataPokemon.type}}</span></h3>
       <div class="row">
          <div class="col-md-5">
        <div class="container mt-3">

            <!--tabla datos-->
            <table class="table table-bordered">
            <tbody >
                <tr>
                <td id="title">Peso</td>
                <td class="text-center" id="sub">{{dataPokemon.peso}}</td>
                </tr>
                <tr>
                <td id="title">Altura</td>
                <td class="text-center" id="sub">{{dataPokemon.altura}}</td>
                </tr>
                <tr>
                <td id="title">Habilidad</td>
                <td class="text-center" id="sub">{{dataPokemon.habilidad}}</td>
                </tr>
            </tbody>
            </table>
        </div></div> 

        <!-- front end -->
        <div class="col-md-7">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{dataPokemon.frente}}" width="100%" alt="Pokemon">
                    </div>
                    <div class="col-md-6">
                        <img src="{{dataPokemon.espalda}}" width="100%" alt="Pokemon">

                    </div>
                </div>
            </div></div> 
        
        </div>
                </div>
            <!-- regresar -->
                <button [routerLink]="['/']" class="btn btn-outline-primary" >VOLVER</button>

            </div>
        <!--imagen grande-->
      <div class="col-md-4 text-right">
        <img src="{{dataPokemon.image2}}" width="100%" alt="Pokemon" >
            </div>
      
      
    </div>
  </div>

</div>



