<body>

    <div class="d-flex justify-content-center">
    <input type="text" class="form-control" placeholder="Buscar pokemón">
    <button class="btn btn-outline-primary" >Buscar</button>
    </div>
<!-- * * * * * * * * * * * * * * * * * * * * * * *
    <li class="card col-md-3" *ngFor="let pokemon of pokemons">
        <img class="card-img-top" src="" alt="Card image cap" (load)="p.imageLoaded = true" [attr.src]="p.sprite">
        <div class="card-footer text-center">
          <small class="text-muted ">{{ p.name | uppercase}}</small>
        </div>
    </li>
  
<li *ngFor="let pokemon of pokemons"></li>

    <img src="{{pokemon.sprites.front_default}}">
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section>

    <div class="poke-container " id="poke-container">

    <div *ngFor="let pokemon of Listpokemon"
    class="pokemon" style="background-color: rgb(222, 253, 224);">
        <div class="img-container mx-auto d-block">
            <img src={{pokemon.image}} alt="{{pokemon.name}}" >
        </div>
        <div class="info">
            <span class="number">{{pokemon.position}}</span>
            <h3 class="name text-center">{{pokemon.name | uppercase}}</h3>
            <small class="type">Type: <span>grass</span> </small>
        </div>
        </div>
    </div>

</section>
    
    <pre>{{ Listpokemon | json}}</pre>
    
   
   
      
</body>
